body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
    text-align: center;
}

.title-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

h1 {
    margin: 20px 0;
}

.typing-animation {
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid #333;
    animation: typing 3s steps(40, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #333;
    }
}

.typing-animation::after {
    content: "|"; /* Display the blinking cursor */
    display: inline-block;
    width: 1px; /* Width of the cursor */
    margin-left: 5px; /* Adjust the margin for spacing */
    animation: blink-caret 0.5s step-end infinite;
}


.typing-animation {
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid #333;
    animation: typing 1s steps(40, end), blink-caret 0.5s step-end infinite;
}



.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin-left: 20px;
}

.left-box,
.center-box,
.right-box {
    max-width: 400px;
    padding: 20px;
    box-sizing: border-box;
}

.left-box {
    order: 1;
}

.center-box {
    order: 2;
}

.right-box {
    order: 3;
}

label {
    display: block;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    height: 0;
    padding-bottom: 100%;
}

button {
    width: 100%;
    height: calc(1/4 * 100%);
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: stretch; /* Stretch items to full width in column layout */
    }

    .left-box,
    .center-box,
    .right-box {
        max-width: 100%; /* Make each box take the full width */
        margin: 10px; /* Adjust margin for smaller screens */
    }

    button {
        height: auto; /* Reset the height for better display on small screens */
    }
}